{% extends "base.html.twig" %}

{% block stylesheets %}
	<link rel="stylesheet" href="{{asset('css/centeredElement.css')}}">
	<link rel="stylesheet" href="{{asset('css/details.css')}}">
{% endblock %}

{% block body %}

	<div id="layout">
		<div id="container" class="shadow p-4 bg-light rounded">
			<div id="image-container">
				<img src="{{imagePath}}">
			</div>

			<form class="mt-4" method="POST">
				{% for index, flash_error in app.flashes('error') %}
					{% if index == 0 %}
						<div class="alert alert-danger" role="alert">
							{{flash_error}}
						</div>
					{% endif %}
				{% endfor %}

				<div class="mb-3">
					<label for="comment" class="form-label">Commentaire</label>
					<input type="text" name="comment" class="form-control" id="comment" value="{% if comment != null %}{{comment}}{% endif %}" {% if not is_granted("ROLE_USER") %} disabled {% endif %}>
				</div>
				<div class="mb-3">
					<label for="author" class="form-label">Auteur</label>
					<input type="text" name="author" class="form-control" id="author" value="{% if author != null %}{{author}}{% endif %}" {% if not is_granted("ROLE_USER") %} disabled {% endif %}>

				</div>
				<div class="mb-3">
					<label for="copyright" class="form-label">Copyright</label>
					<input type="text" name="copyright" class="form-control" id="copyright" value="{% if copyright != null %}{{copyright}}{% endif %}" {% if not is_granted("ROLE_USER") %} disabled {% endif %}>

				</div>

				{% if is_granted("ROLE_USER") %}
					<button type="submit" class="btn btn-primary">Sauvegarder</button>
				{% endif %}
				<a href="{{path('app_list')}}" class="btn btn-secondary">Retour</a>
			</form>
		</div>
	</div>

{% endblock %}
